<h2 class="page-header">Search Imgur</h2>
<form (submit)="onSearchSubmit()">
  <div class="form-group">
    <label>Search Words</label>
    <input type="text" [(ngModel)]="searchString" name="search" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>

<div *ngIf="searchResults">
  <label for="results">Search Results:</label>
  <ul class="list-group text-center">
      <li *ngFor="let image of searchResults" class="list-group-item list-group-item-primary"><a href="{{image.link}}">{{image.link}}</a></li>
  </ul>
</div>