<div class="jumbotron text-center">
  <h1>Imgur Search App</h1>
  <p class="lead">Utilizing the Imgur API, Mongodb, Express, Angular4, and Node.js</p>
  <form (submit)="getSearchResults()">
    <div class="form-group row">
      <span class="col-sm-11"><input type="text" [(ngModel)]="searchString" name="search" class="form-control"></span>
      <span class="col-sm-1"><input type="submit" class="btn btn-primary" value="Search"></span>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" [(ngModel)]="albumsCheckBoxValue" class="form-check-input" name="albumsCheckBox" value="">
        Albums?
      </label>
      <label class="form-check-label">
          <input type="checkbox" [(ngModel)]="nsfwCheckBoxValue" class="form-check-input" name="nsfwCheckBox" value="">
          NSFW?
        </label>
    </div>
    
  </form>
</div>

<div *ngIf="searchResults">
  <table class="table table-bordered table-responsive table-striped table-inverse">
    <thead>
      <tr class="bg-success">
        <th>Title</th>
        <th>Link</th>
        <th>Album</th>
        <th>NSFW</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of (searchResults | searchFilter: {albums: albumsCheckBoxValue, nsfw: nsfwCheckBoxValue}) | paginate: { itemsPerPage: 15, currentPage: page }">
        <td>{{image.title}}</td>
        <td><a target="new" href="{{image.link}}">{{image.link}}</a></td>
        <td>
          <div [ngSwitch]="image.is_album">
            <i *ngSwitchCase="true" class="material-icons">check</i>
            <i *ngSwitchCase="false" class="material-icons">close</i>
          </div>
        </td>
        <td>
          <div [ngSwitch]="image.nsfw">
            <i *ngSwitchCase="true" class="material-icons">check</i>
            <i *ngSwitchCase="false" class="material-icons">close</i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" class="pagination-controls"></pagination-controls>
</div>